<div id="slots-container">
    <ul>
        <% slots.forEach(function(slot) { %>
            <li>
                <div class="slot">
                    <div class="slot-date">
                        <p>Date</p><%=slot.date%>
                    </div>
                    <div class="slot-time">
                        <p>Start Time</p><%=slot.start_time%>
                    </div>
                    <div class="slot-time">
                        <p>End Time</p><%=slot.end_time%>
                    </div>
                    <div class="patient">
                        <p>Patient</p><%=slot.patients.name%>
                    </div>
                    <div class="email">
                        <p>Patient</p><%=slot.patients.email%>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
</div>